<div class="w-full h-screen bg-gray-700 flex flex-col">
    <div class="w-1/5 text-red-800 flex flex-row content-between cursor-pointer" (click)="navigateTo('/home')">
        <h1> < </h1>
        <h1>Retourner à l'accueil</h1>
    </div>
     <div class="w-full flex flex-col justify-center text-center items-center">
        <img src="../../assets/img/placeholder.jpg" class=" rounded-full h-48 w-48" alt="Portrait">
        <h1 class="text-5xl mt-5">Maxence Vretman</h1>
        <hr class="w-full mt-5">
        TODO REDIGER MA BIO
     </div>
</div>