// Tailwind imports
@tailwind base;
@tailwind components;
@tailwind utilities;

// Fonts imports
@font-face {
    font-family: Ubuntu_Condensed;
    src: url(assets/fonts/Ubuntu_Condensed/UbuntuCondensed-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}